<!DOCTYPE html>
<html>
<head>
  <title>VehicleComplaints</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

	<header id="overview" class="jumbotron subhead">
		<div class="container">
			<h1>Public Transportation Complaint</h1>
			<p class="lead">Make public transportation better</p>
		</div>
	</header>

<div class = "container">
  <div class="row">
	  <div class="span9"><%= yield %></div>
    <div class="span3">
    	<h3>Other Contact Details</h3>
      <%= render :partial => "layouts/contact_details" %>
    </div>
  </div>

</div>

</body>
</html>
